
.form-row{
    padding: 5px !important;
}

.form-label{

    text-align: right;
    padding-right: 10px !important;

}
.form-input{
    text-align: left;
}

.require{
    color: red;
    font-weight: bold;
    margin-top: -15px !important;
}

.err_mesg{
    color: red;
    font-size: 13px !important;
}

.back_button{
    padding: 5px !important;
}